<table>
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Avatar</th>
      <th>Created At</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of data$ | async">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td><img src="{{ user.avatar }}" alt="" /></td>
      <td>{{ user.createdAt }}</td>
      <td>
        <button (click)="update(user.id, user)">Edit</button>
        <button (click)="delete(user.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
